.root {
  display: grid;
  grid-template-rows: auto 1fr;

  box-sizing: border-box;
  height: 100vh;
  height: 100dvh;
  margin: 0 auto;
  padding: 24px;
}

@media (min-width: 560px) {
  .root {
    padding: 64px;
  }
}
