.root {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  height: 64px;
  padding: 0;

  font: var(--typography-text-medium-l);
  cursor: pointer;
  user-select: none;

  border: 0;
  border-radius: 24px;
  outline: 0;

  transition: background-color 250ms ease;

  -webkit-tap-highlight-color: none;
}

.root_isInactive {
  opacity: 0.1;
}

.root_variant_action {
  color: var(--color-text-accent);
  border: 2px solid var(--color-accent-border);
  background-color: transparent;
}

.root_isHovered.root_variant_action {
  background-color: var(--color-positive-bg-hovered);
}

.root_isPressed.root_variant_action {
  background-color: var(--color-positive-bg-pressed);
}

.root_variant_danger {
  color: var(--color-negative);
  border: 2px solid var(--color-negative-border);
  background-color: transparent;
}

.root_isHovered.root_variant_danger {
  background-color: var(--color-negative-bg-hovered);
}

.root_isPressed.root_variant_danger {
  background-color: var(--color-negative-bg-pressed);
}
