.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.title {
  font: var(--typography-display-s);
  text-align: center;

  color: var(--color-text-primary);
}

.action {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.heading {
  display: grid;
  align-items: center;
  grid-template-areas: 'fl' 'sl' 'hl';
}

.firstline {
  grid-area: fl;
}

.secondline {
  grid-area: sl;
}

.highlights {
  justify-self: center;

  grid-area: hl;

  margin-top: 32px;
}

@media (min-width: 560px) {
  .heading {
    grid-template-areas: 'fl fl' 'hl sl';
  }

  .title {
    font: var(--typography-display-m);
    text-align: left;
  }

  .highlights {
    justify-self: flex-start;

    margin-top: 0;
  }

  .action {
    width: 256px;
  }
}
