.root {
  background-color: var(--color-brand-bg-base);
  height: 64px;
  border-radius: 24px;
  padding: 0 24px;
  position: absolute;
  z-index: 1;
  bottom: 64px;
  display: flex;
  align-items: center;
  font: var(--typography-text-medium-l);
  gap: 8px;
  cursor: pointer;
}
