.root {
  position: relative;
  z-index: 1;

  display: inline-flex;

  border-radius: 24px;

  -webkit-tap-highlight-color: transparent;
}

.root.focusRing {
  outline: 2px solid var(--color-brand-border);
  outline-offset: 2px;
}
