@import url(../shared/theme/dark-color-sheme.css);
@import url(../shared/theme/typography.css);

body {
  margin: 0;
  background-color: var(--color-surface-elevated-0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
